node_modules/
*.log
*.swp
.idea/
.DS_Store
static/dist
webpack-assets.json
dist
.sonar/
coverage/
package-lock.json
yarn.lock
newrelic_agent.log
.build-info.json
.idea/
Web.Phoenix.code-workspace
webpack-stats.json
#VS Code
.vscode/
report.*.json
.jshintrc
source-maps/
.nvmrc
.DS_store
server-build/
api-secrets.txt
.env
.env.production
web/.env
source-maps/
