
body {
  font-size: 12px;
  font-family: verdana;
}

#welcome {
  border: 1px solid silver;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

.navHeader {

}

#mainMenuContainer {
  float: left;
}

#mainMenuContainer > ul {        
}

#mainMenuContainer > #ul::before {
  content: "";
  display: table;
  line-height: 0;          
}

#mainMenuContainer > ul::after {
}


#mainMenuContainer > ul {
  list-style: none outside none;
  margin-bottom: 20px;
  margin-left: 0;       
}

.navHeader {
  background: #F5F5F5;
}

.navHeader > .bottom {
  clear:both;
} 


#mainMenuContainer > ul > li {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: 1px solid silver;
}

#mainMenuContainer > ul > li > a {
  color: rgb(37, 25, 168);
  text-decoration: none;
  font-weight: bold;
}

#mainMenuContainer > ul > li > a:hover {
  color: rgb(120, 170, 175);
}


.navHeader > #myAccount {
  float: right;
  position: relative;
  padding: 25px;
}

.navHeader > #mainMenuContainer > ul > .active {
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-top: 1px solid silver;
  border-bottom: none;
}

#sing-in-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: flex-start;
  justify-content: center;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 9999999;  
}

#sign-in-modal {
  margin-top: 30px;
  height: calc(100% - 70px);
  max-height: 825px;
  width: 420px;
  background: #0C203B;
  box-sizing: border-box;
}

#sign-in-iframe-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;  
  box-sizing: border-box;
}

#sign-in-iframe-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  width: 100%;
  background: #102039;  
}

#sign-in-close {
  width: 54px;
  height: 58px;
  margin: 0;
  padding: 8px;
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;  
}

#sign-in-clode > svg {
  width: 20;
  height: 20;  
}

#sign-in-iframe {
  width: 100%;
  height: 100%;
  background: #0C203B;  
}